@model RegisterTraderViewModel

@{
    ViewData["Title"] = "Регистрирай се като търговец";
}

<h2>@ViewData["Title"]</h2>

<div class="w3l_banner_nav_right">
    <!-- login -->
    <div class="w3_login">
        <h3>Регистрация на профил</h3>
        <div class="w3_login_module">
            <div class="module form-module">
                <div class="toggle">
                    <i class="fa fa-times fa-pencil"></i>
                    <div class="tooltip">Click Me</div>
                </div>
                <div class="form">
                    <h2>Регистрирай се като търговец</h2>
                    <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="FirstName"></label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="MiddleName"></label>
                            <input asp-for="MiddleName" class="form-control" />
                            <span asp-validation-for="MiddleName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LastName"></label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Username"></label>
                            <input asp-for="Username" class="form-control" />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="FirmName"></label>
                            <input asp-for="FirmName" class="form-control" />
                            <span asp-validation-for="FirmName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="UIC"></label>
                            <input asp-for="UIC" class="form-control" />
                            <span asp-validation-for="UIC" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="VatRegistration"></label>
                            <input asp-for="VatRegistration" class="form-control" />
                            <span asp-validation-for="VatRegistration" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ResponsiblePerson"></label>
                            <input asp-for="ResponsiblePerson" class="form-control" />
                            <span asp-validation-for="ResponsiblePerson" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="City"></label>
                            <input asp-for="City" class="form-control" />
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Address"></label>
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="InvoiceWanted"></label>
                            <input asp-for="InvoiceWanted" />
                            <span asp-validation-for="InvoiceWanted" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword"></label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <input type="submit" value="Регистрирай" />
                    </form>
                </div>
                <div class="form">
                    <h2>Create an account</h2>
                    <form action="#" method="post">
                        <input type="text" name="Username" placeholder="Username" required=" ">
                        <input type="password" name="Password" placeholder="Password" required=" ">
                        <input type="email" name="Email" placeholder="Email Address" required=" ">
                        <input type="text" name="Phone" placeholder="Phone Number" required=" ">
                        <input type="submit" value="Register">
                    </form>
                </div>
                <div class="cta"><a href="#">Forgot your password?</a></div>
            </div>
        </div>

    </div>
    <!-- //login -->
</div>
<div class="clearfix"></div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script>
        $('.toggle').click(function () {
            // Switches the Icon
            $(this).children('i').toggleClass('fa-pencil');
            // Switches the forms
            $('.form').animate({
                height: "toggle",
                'padding-top': 'toggle',
                'padding-bottom': 'toggle',
                opacity: "toggle"
            }, "slow");
        });
    </script>
}

