@model IEnumerable<LastThreeBookServiceModel>

@{
    ViewData["Title"] = "Заглавна страница";
}

<div class="banner">
    <div class="w3l_banner_nav_right">
        <section class="slider">
            <div class="flexslider">
                <ul class="slides">
                    @foreach (var book in Model)
                    {
                        var imgSrc = string.Empty;
                        if (book.CoverPicture != null)
                        {
                            var base64 = Convert.ToBase64String(book.CoverPicture);
                            imgSrc = String.Format("data:image;base64,{0}", base64);
                        }
                        else
                        {
                            imgSrc = "/images/no-image.png";
                        }

                        <li>
                            <a asp-area="Books" asp-controller="Items" asp-action="Details" asp-route-id="@book.Id">
                                <div class="article">
                                    <img src="@imgSrc" alt="@book.Title" class="article-bg" style="height: 300px" />
                                    <h3 class="book-title">@book.Title</h3>
                                </div>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </section>
        <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" property="" />
    </div>
    <div class="clearfix"></div>
</div>