@model BookFormViewModel

@{
    ViewData["Title"] = "Добави нова книга";
}

<div class="w3l_banner_nav_right">
    <h3 class="text-center">Добавяне на книга</h3>
    <div class="w3_login_module">
        <div class="module form-module">
            <div class="toggle">
                <i class="fa fa-times fa-pencil"></i>
                <div class="tooltip">Кликни ме</div>
            </div>
            <div class="form">
                <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Title"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AuthorNames"></label>
                        <input asp-for="AuthorNames" class="form-control" />
                        <span asp-validation-for="AuthorNames" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PublisherName"></label>
                        <input asp-for="PublisherName" class="form-control" />
                        <span asp-validation-for="PublisherName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Category"></label>
                        <select asp-for="Category" asp-items="Html.GetEnumSelectList<Category>()" class="form-control"></select>
                        <span asp-validation-for="Category" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PublicationYear"></label>
                        <input asp-for="PublicationYear" class="form-control" />
                        <span asp-validation-for="PublicationYear" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price"></label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Condition"></label>
                        <select asp-for="Condition" asp-items="Html.GetEnumSelectList<Condition>()" class="form-control"></select>
                        <span asp-validation-for="Condition" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Language"></label>
                        <input asp-for="Language" class="form-control" />
                        <span asp-validation-for="Language" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CoverPicture"></label>
                        <input type="file" asp-for="CoverPicture" name="coverPicture" style="display: none" accept=".gif,.png,.jpg"/>
                        <button type="button" class="btn btn-default form-control" onclick="document.getElementsByName('coverPicture')[0].click()">Избери снимка за качване</button>
                        Файлът трябва да е gif, jpg или png, с обем до 50KB.
                        <span asp-validation-for="CoverPicture" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Coverage"></label>
                        <select asp-for="Coverage" asp-items="Html.GetEnumSelectList<Coverage>()" class="form-control"></select>
                        <span asp-validation-for="Coverage" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description"></label>
                        <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <input type="submit" value="Добави" />
                </form>
            </div>
        </div>
    </div>

</div>
<div class="clearfix"></div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script>
        $('.toggle').click(function () {
            // Switches the Icon
            $(this).children('i').toggleClass('fa-pencil');
            // Switches the forms
            $('.form').animate({
                height: "toggle",
                'padding-top': 'toggle',
                'padding-bottom': 'toggle',
                opacity: "toggle"
            }, "slow");
        });
    </script>
}




