@model BookDetailsViewModel

@{
    ViewData["Title"] = "Редактирай книга";
}

<h2>@ViewData["Title"]</h2>

@{
    var imgSrc = string.Empty;
    if (Model.Book.CoverPicture != null)
    {
        var base64 = Convert.ToBase64String(Model.Book.CoverPicture);
        imgSrc = String.Format("data:image;base64,{0}", base64);
    }
}

<div class="w3l_banner_nav_right">
    <h3>Редактиране на книга</h3>
    <div class="w3_login_module">
        <div class="module form-module">
            <div class="toggle">
                <i class="fa fa-times fa-pencil"></i>
                <div class="tooltip">Click Me</div>
            </div>
            <div class="form">
                <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    @if (!string.IsNullOrEmpty(imgSrc))
                    {
                        <div class="col-md-4 agileinfo_single_left">
                            <img id="example" src="@imgSrc" alt=" " class="img-responsive" />
                        </div>
                    }
                    <div class="form-group">
                        <label asp-for="Book.CoverPicture"></label>
                        <input type="file" asp-for="Book.CoverPicture" name="coverPicture" style="display: none" accept=".gif,.png,.jpg" />
                        <button type="button" class="btn btn-default form-control" onclick="document.getElementsByName('coverPicture')[0].click()">Избери снимка за качване</button>
                        Файлът трябва да е gif, jpg или png, с обем до 50KB.
                        <span asp-validation-for="Book.CoverPicture" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Book.Title"></label>
                        <input asp-for="Book.Title" class="form-control" />
                        <span asp-validation-for="Book.Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Book.AuthorNames"></label>
                        <input asp-for="Book.AuthorNames" class="form-control" />
                        <span asp-validation-for="Book.AuthorNames" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Book.Publisher"></label>
                        <input asp-for="Book.Publisher" class="form-control" />
                        <span asp-validation-for="Book.Publisher" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Book.Category"></label>
                        <input asp-for="Book.Category" class="form-control" />
                        <span asp-validation-for="Book.Category" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Book.PublicationYear"></label>
                        <input asp-for="Book.PublicationYear" class="form-control" />
                        <span asp-validation-for="Book.PublicationYear" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Book.Price"></label>
                        <input asp-for="Book.Price" class="form-control" />
                        <span asp-validation-for="Book.Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Book.Condition"></label>
                        <input asp-for="Book.Condition" class="form-control" />
                        <span asp-validation-for="Book.Condition" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Book.Language"></label>
                        <input asp-for="Book.Language" class="form-control" />
                        <span asp-validation-for="Book.Language" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Book.Coverage"></label>
                        <input asp-for="Book.Coverage" class="form-control" />
                        <span asp-validation-for="Book.Coverage" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Book.Description"></label>
                        <input asp-for="Book.Description" class="form-control" />
                        <span asp-validation-for="Book.Description" class="text-danger"></span>
                    </div>
                    <input type="submit" value="Редактирай" />
                </form>
            </div>
            <div class="form">
                <h2>Create an account</h2>
                <form action="#" method="post">
                    <input type="text" name="Username" placeholder="Username" required=" ">
                    <input type="password" name="Password" placeholder="Password" required=" ">
                    <input type="email" name="Email" placeholder="Email Address" required=" ">
                    <input type="text" name="Phone" placeholder="Phone Number" required=" ">
                    <input type="submit" value="Register">
                </form>
            </div>
        </div>
    </div>

</div>
<div class="clearfix"></div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script>
        $('.toggle').click(function () {
            // Switches the Icon
            $(this).children('i').toggleClass('fa-pencil');
            // Switches the forms
            $('.form').animate({
                height: "toggle",
                'padding-top': 'toggle',
                'padding-bottom': 'toggle',
                opacity: "toggle"
            }, "slow");
        });
    </script>
}




